OfferQuoteESB/src/main/synapse-config/offerquote.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jsonObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="id"/>
        <xs:element type="xs:string" name="taxCode"/>
        <xs:element type="xs:string" name="iban"/>
        <xs:element type="xs:string" name="member"/>
        <xs:element type="xs:float" name="price"/>
        <xs:element type="xs:string" name="category"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>