Transformation/product.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="taxCode" minOccurs="0" type="xs:string" />
        <xs:element name="iban" minOccurs="0" type="xs:string" />
        <xs:element name="member" minOccurs="0" type="xs:string" />
        <xs:element name="price" minOccurs="0" type="xs:decimal" />
        <xs:element name="reference" minOccurs="0" type="xs:string" />
        <xs:element name="value" minOccurs="0" type="xs:decimal" />
        <xs:element name="id" type="xs:integer" />
        <xs:element name="productType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>